<header>
  <div class="container">
    <div class="logo">
      <a href="<%= paths.index %>">Interrogación IIC2513 2021-2</a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="<%= paths.theory %>">Preguntas teóricas</a>
        </li>
        <li>
          <a href="<%= paths.candidates %>">Candidatos</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
