<div class="second-initial-box">
  <h1>Elecciones presidenciales 2021</h1>
  <!-- https://www.principal.cl/sites/default/files/styles/755_250/public/header_paper_elecciones.png?itok=ura0c4FB -->
  <img src="<%= assetPath('elecciones-second.png') %>" />
</div>

<div class="second-secondary-box">
  <div class="second-content">
    <p>
      <a href="#">Resultados primera vuelta</a>
    </p>
  </div>
  <div class="second-content">
    <p>
      <a href="#">Próximas fechas relevantes</a>
    </p>
  </div>
  <div class="second-content">
    <p>
      <a href="<%= paths.candidates %>">Candidatos</a>
    </p>
  </div>
</div>

<footer class="second-footer">
  <p>Desarrollado por <strong>Sebastián Vicencio</strong></p>
</footer>
