<div class="first-initial-box">
  <section>
    <h1>Elecciones presidenciales 2021</h1>
    <p>El pasado domingo 21 de noviembre se llevó a cabo el proceso para elegir un nuevo presidente, parlamentarios y COREs.</p>
    <span>Habrá segunda vuelta</span>
  </section>
  <!-- Fuente: https://www.pauta.cl/pauta/site/artic/20210127/imag/foto_0000015920210127191745/xCandidatos-v13.jpg.pagespeed.ic.HtQSIGprd4.jpg -->
  <img src="<%= assetPath('candidatos-first.jpg') %>" />
</div>

<div class="first-secondary-box">
  <p class="paragraph">
    Los candidatos José Antonio Kast y Gabriel Boric obtuvieron la mayor cantidad de sufragios. 
    Por lo tanto, disputarán el sillón presidencial el próximo 19 de diciembre. 
    Si quieres conocer más detalles, <a href="#">haz click aquí</a>.
  </p>
</div>

<footer>
  <p>Desarrollado por <strong>Sebastián Vicencio</strong></p>
</footer>
